body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  padding: 20px 0;
}
header .imgbox {
  width: 40px;
}
header nav a {
  font-size: 20px;
  color: #8c8999;
  margin-right: 30px;
}
header nav .home-color {
  color: #74bebc;
}
header .btn {
  background-color: #f2f2f4;
}
@media (max-width: 991px) {
  header nav {
    display: none;
  }
}
@media (min-width: 992px) {
  header .btn {
    display: none;
  }
}

#order {
  background-color: #f4fafb;
}
#order .textbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
}
#order .textbox h1 {
  font-weight: 700;
  font-size: 68px;
}
#order .textbox span {
  color: #37b7c3;
}
#order .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#order .textbox .btn {
  align-self: center;
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
}
#order .textbox .trustpilot {
  align-self: center;
  width: 120px;
  margin: 20px 0 10px;
}
#order .textbox h4 {
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #order .textbox {
    align-items: center;
  }
}
@media (min-width: 992px) {
  #order .textbox {
    align-items: start;
    text-align: start;
    margin-bottom: 0;
  }
  #order .textbox .btn {
    align-self: start;
  }
  #order .textbox .trustpilot {
    align-self: start;
  }
}

#products {
  background-color: #f1f8f9;
}
#products .textbox h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
}
#products .textbox h3 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#products .textbox .btn {
  padding: 13px 30px;
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

#howitworks h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
  margin-bottom: 60px;
}
#howitworks .box .textbox {
  padding: 35px 55px;
}
#howitworks .box h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#howitworks .box h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}

#browseourmenu {
  background-color: #f5fbfc;
}
#browseourmenu .col-md-12 .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #3cc1d8;
}
#browseourmenu .col-md-12 .textbox h4 {
  font-size: 20px;
  color: #6c7480;
  margin: 20px 0;
  line-height: 1.2;
}
#browseourmenu .col-md-12 .textbox h4 span {
  color: #3cc1d8;
  text-decoration-line: underline;
}
#browseourmenu .col-12 .box .btn {
  font-size: 18px;
  border: 0.5px solid #bdbdbd;
  padding: 15px;
  width: 150px;
  margin: 0 20px;
  border-radius: 5px;
}
#browseourmenu .bgc {
  background-color: #3cc1d8;
  color: white;
}
#browseourmenu .col-lg-6 .box {
  background-color: #ffffff;
  padding: 20px;
}
#browseourmenu .col-lg-6 .box .imgbox {
  border-radius: 10px;
}
#browseourmenu .col-lg-6 .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browseourmenu .col-lg-6 .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 18px;
}
#browseourmenu .col-lg-6 .box .textbox p {
  margin: 15px 0;
  line-height: 1.2;
  color: rgba(35, 47, 66, 0.5215686275);
}
#browseourmenu .col-lg-6 .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #f5fbfc;
  width: 50px;
  margin-right: 10px;
}
#browseourmenu .col-lg-6 .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: white;
  padding: 7px 20px;
}
#browseourmenu .menu {
  padding: 17px 53px;
  margin-top: 50px;
}
@media (min-width: 992px) {
  #browseourmenu .imgbox {
    align-self: center;
    width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #browseourmenu .imgbox {
    align-self: flex-start;
    width: 125px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #browseourmenu .col-12 .box {
    width: 100%;
  }
  #browseourmenu .col-12 .box .btn {
    width: 225px;
    margin: 5px 15px;
  }
}
@media (max-width: 575px) {
  #browseourmenu .imgbox {
    align-self: start;
    width: 100%;
  }
  #browseourmenu .col-12 .box .btn {
    margin: 10px 20px;
    width: 100%;
  }
}

#orderonline h1 {
  font-size: 48px;
  font-weight: 700;
  color: #36b3bd;
}
#orderonline h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#orderonline .btn {
  color: white;
  font-size: 20px;
  background-color: #38b6c1;
  padding: 13px 34px;
  border-radius: 5px;
}

#call {
  background-color: #f1f8f9;
}
#call .textbox h1 {
  font-size: 65px;
  font-weight: 700;
  color: #36b3bd;
}
#call .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#call .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #38b6c1;
  padding: 13px 34px;
}

#support .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.1;
}
#support .textbox span {
  color: rgba(36, 102, 114, 0.5137254902);
}
#support .textbox .btn {
  font-size: 22px;
  color: #38b6c1;
  background-color: white;
  padding: 10px 30px;
  margin: 30px 0 0 40px;
}
#support .bgc {
  background-color: #35b6c1;
}
@media (max-width: 992px) {
  #support .imgbox {
    height: 380px;
  }
}
@media (min-width: 992px) {
  #support .textbox {
    height: 100%;
  }
}
@media (max-width: 576px) {
  #support .imgbox {
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */